$common-grey: #5d5d5d;
$violet: #4342b2;
$green: #006426;
$tag-indigo: #3e61c1;
$file-blue: #6d56c3;
$error: #ff5f5f;
$link-tag: #ffa50a;
$title-selector: #fd278a;
$document-border:#fda2a2;
$work-border: #b7ceff;
$error-message: #ff0000;
$work-selector: #3b86ff;
$white:#fff;
$bg-opacity:rgba(247, 248, 252, 0.3);
$warm-grey:#9f9f9f;
$pale-grey:#f7f8fc;
$blue-grey:#808495;
$soft-violet:#dcd3ff;
$border: #707070;

$common-task:#4d4f5c;//sack-view,task-card text clr
$task-info:#a8a9ad;//task-properties comment section and tab header
$hr:#f4f1ff;//clr for hr tags feed,sack
$card-border:#ede8ff;//feed,task
$navhr:#f9f8ff;//nav dropdown
$active-date: #d6efff;//feedcomponent active date
$active-border: #009dff;//feed-component border
$task-high: #fc6c6c;//feed component priority clrs
$task-mid: #ffc86a;//feed component priority clrs
$task-low: #94b6fd;//feed component priority clrs
$dark-pink: #fc2689;
$ink-blue:#091d5f;

$font-9: 0.833em;
$font-12: 1em;
$font-16: 1.33em;
$font-18: 1.5em;
$font-35: 2.917em;

$font-semibold: 'Poppins-SemiBold';
$font-medium: 'Poppins-Medium';
$font-regular: 'Poppins-Regular';
