/* You can add global styles to this file, and also import other style files */
body {
    background: #f0f0f7;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../src/assets/font/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'Poppins-Regular';
    src: url('../src/assets/font/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../src/assets/font/Poppins-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
   }